n8n/templates/Uuilly_Starter_Template_n8n.json
{
  "name": "Uuilly Starters Template",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "2b20540e-bd39-4da8-933f-1da7b6b783f5",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -960,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "eXTBUxyo0LrAeZOZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body[0].sessionId }}"
      },
      "id": "1c635ef8-b472-413e-b121-859cffc3def4",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -768,
        320
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -320,
        112
      ],
      "id": "37aa5345-a6b9-476e-b16c-6be2a6ccf151",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        224
      ],
      "id": "ed1d9fae-0aeb-42f2-8ad8-940e02fa1907",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.item.json.body[0];\n\nconst result = {\n  chatInput: inputData.chatInput,\n  sessionId: inputData.sessionId,\n  imageUrl: (inputData.files && inputData.files.length > 0) ? inputData.files[0].fileUrl : null\n};\n\nreturn { json: result };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        128
      ],
      "id": "f1b67b1b-91a3-4a13-a495-3f4dfcffff01",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b58eef03-b954-4b0b-a444-9f0305965a8b",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        128
      ],
      "id": "3937100c-a6ec-4710-9899-10375d76e39a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Conector principal - Input\nTodo workflow tiene que utilizar este método para los inputs. Tomar como template",
        "height": 352,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        32
      ],
      "typeVersion": 1,
      "id": "df351fec-7d50-41a0-ba13-ad8f79a4997a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Conector principal - Output\nNo te olvides de este nodo para enviarle los outputs a la interfaz \n### SOLO SI TU ASISTENTE NO SOPORTA STREAMING.",
        "height": 272,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -16
      ],
      "typeVersion": 1,
      "id": "dba1c597-9dd7-4fcb-85cd-b7fa9cd45c3f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "546754cb-f0b9-44a4-8496-10c42d9fc808",
        "responseMode": "streaming",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1968,
        128
      ],
      "id": "26c31567-b6bb-4231-83ff-80d341e53136",
      "name": "Webhook1",
      "webhookId": "72cc6a89-e9bb-4c8b-a5ab-820d09f25980"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}{{ $json.imageUrl }}",
        "options": {
          "systemMessage": "Eres un asistente util que da respuestas breves y concisas dando la informacion relevante",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -880,
        112
      ],
      "id": "a5d5a52c-1767-41c2-8fb8-79710e29e115",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5769f231-975f-454f-8508-566c374f268e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08dfd608c038f6bc766136f82c1aa5d9d8c27ae86d6d6b8fad4edcb06c0bcc67"
  },
  "id": "JuNNAgZVzAh1RQbN",
  "tags": []
}